/* line 1, ../sass/main.sass */
body, html {
  font-size: 14px;
  color: #333333;
}

/* line 5, ../sass/main.sass */
header {
  margin-top: 4rem;
}

/* line 7, ../sass/main.sass */
.row {
  max-width: 62.5rem;
}
